@page "/"

<PageTitle>Index</PageTitle>

<p><b>Welcome to HamsterWars!</b> </p>
<br />

Click <a href="hamsters">Hamsters</a> To go to <b>Hamsters Gallery.</b>

<br />
Click <a href="hamsters">HamstersBattle</a> To go to <b>Hamsters Battle.</b>
<br />
This is the <b>true</b> winner, my hamster ; )
<br />
<img style=" width: 50%;
    height: 50vh;
    object-fit: cover;" src="/Content//Images/truewinner.jpg"

